/* TODO Add site wide styles */
* {
    --space-cadet: #1a2d57ff;
    --celadon: #b2d3a8ff;
    --olivine: #b6d094ff;
    --barn-red: #6f1a07ff;
    --gunmetal: rgb(31, 36, 43);
    --light-gunmetal: rgb(49, 58, 70);
    --gray-web: #7c7c7cff;
    --morning-blue: rgb(183, 194, 193);
    --saddle-brown: #874000ff;
    --pullman-brown-ups-brown: #5b3000ff;
    --black-bean: #301100ff;
    font-family: "Lato","Lucida Grande","Lucida Sans Unicode","Lucida Sans","Geneva","Verdana",sans-serif;;
    scrollbar-color: var(--gunmetal) var(--light-gunmetal);
}

.fxlar {
    font-size: x-large
}

.flar {
    font-size: large;
}

.fmed {
    font-size: medium
}

.fbold {
    font-weight: bold;
}

.fxbold {
    font-weight: bolder;
}

.tdnone {
    text-decoration: none;
}

.tacen {
    text-align: center;
}

.tclight {
    color: lightgray
}

.iflight {
    background-color: rgb(180, 180, 180);
    color: var(--gunmetal);
    border-radius: 8px;
}

.iflight:focus {
    outline: none;
    border: 2px solid var(--gunmetal);
    background-color: rgb(196, 196, 196);;
}

.opt:checked {
    background-color: var(--gunmetal);
    color: var(--gray-web)
}

.btndark {
    background-color: var(--light-gunmetal);
    color: lightgray;
    border-radius: 10px;
}

.btndark:hover {
    background-color: var(--gunmetal);
    cursor: pointer;
}

.btnlight {
    background-color: lightgray;
    color: var(--gunmetal)
}

.btnlight:hover {
    cursor: pointer;
    background-color: rgb(150, 148, 148);
    color: var(--gunmetal)
}

.btnhvr:hover {
    cursor: pointer;
}

.nhvr:hover {
    color: rgb(170, 168, 168);
    text-decoration: underline;
    text-decoration-color: rgb(170, 168, 168);
}

.modal-button-container>button {
    background-color: var(--light-gunmetal);
    color: lightgray;
    border-radius: 10px;
    width: 100%;
}

.modal-button-container>button:hover {
    cursor: pointer;
    background-color: var(--gunmetal);
}

.ofyscroll {
    overflow-y: scroll;
}

.ofhidden {
    overflow: hidden;
}

.bnone {
    border: none;
}

.br10px {
    border-radius: 10px;
}

.bsbb {
    box-sizing: border-box;
}

.bred {
    border: 3px solid red;
}

.bgreen {
    border: 3px solid green
}

.byellow {
    border: 3px solid yellow
}

.darkbg {
    background-color: var(--gunmetal);
    color: var(--morning-blue);
}

.lighterbg {
    background-color: var(--light-gunmetal);
    color: var(--morning-blue)
}

.sticky {
    display: sticky;
}

.flex {
    display: flex
}

.fdrow {
    display: flex;
    flex-direction: row;
}

.fdcol {
    display: flex;
    flex-direction: column;
}

.aicen {
    display: flex;
    align-items: center;
}

.accen {
    display: flex;
    align-content: center;
}

.jccen {
    display: flex;
    justify-content: center;
}

.sb {
    display: flex;
    justify-content: space-between;
}

.sa {
    display: flex;
    justify-content: space-around;
}

.wauto {
    width: auto
}

.hauto {
    height: auto
}

.mw1000px {
    max-width: 1000px;
}

.w100vw {
    width: 100vw
}

.w60vw {
    width: 60vw
}

.w50vw {
    width: 50vw
}

.w40vw {
    width: 40vw
}

.w30vw {
    width: 30vw
}

.w100p {
    width: 100%
}

.w80p {
    width: 80%
}

.w60p {
    width: 60%
}

.w70p {
    width: 70%
}

.w50p {
    width: 50%
}

.w100px {
    width: 100px;
}


.h100vh {
    height: 100vh
}

.h100p {
    height: 100%
}

.h80p {
    height: 80%
}

.h50p {
    height: 50%
}

.h20px {
    height: 20px
}

.h60px {
    height: 60px
}

.h50px {
    height: 50px
}

.h40px {
    height: 40px
}

.pad30 {
    padding: 30px;
}


.pad20 {
    padding: 20px;
}

.pad10 {
    padding: 10px;
}

.pad30lr {
    padding-left: 30px;
    padding-right: 30px;
}

.pad10l {
    padding-left: 10px;
}

.pad10r {
    padding-right: 10px
}

.pad10t {
    padding-top: 10px;
}

.pad10b {
    padding-bottom: 10px
}

.pad0 {
    padding: none;
}

.pad0t {
    padding: none;
}


.marlrauto {
    margin: 0 auto;
}

.mar10 {
    margin: 10px
}

.mar20 {
    margin: 20px
}

.mar30 {
    margin: 30px
}

.mar10t {
    margin-top: 10px
}

.mar30t {
    margin-top: 30px
}

.mar20t {
    margin-top: 20px
}

.mar10b {
    margin-bottom: 10px
}

.mar20b {
    margin-bottom: 20px
}

.mar10l {
    margin-left: 10px
}

.mar10r {
    margin-right: 10px
}

.mar0 {
    margin: 0;
}
