.inspection-list-container {
    width: 100%;
    border-radius: 10px;
    background-color: var(--gray-web);
    height: fit-content;
}

.inspection-list-header-container {
    display: flex;
    justify-content: center;
}

.inspection-list-header {
    /* border: 3px solid  yellow; */
}

.inspection-container-header {
    border-bottom: 1px solid var(--light-gunmetal);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    --light-gunmetal: rgb(49, 58, 70)
}

.inspection-container-nav {
    border-bottom: 1px solid var(--light-gunmetal);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.inspection-container-nav:hover {
    background-color: var(--light-gunmetal);
}

.id-container {
    box-sizing: border-box;
    width: 10%;
    display: flex;
    justify-content: center;
    border-right: 2px solid var(--light-gunmetal);
}

.address {
    width: 45%;
    display:flex;
    justify-content: center;
    text-align: center;
}

.inspection-date {
    width: 18%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-left: 2px solid var(--light-gunmetal);
    border-right: 2px solid var(--light-gunmetal);
    height: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.inspection-number {
    width: 10%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-right: 2px solid var(--light-gunmetal);
    height: 100%;
    text-align: center;
    padding-right: 10px
}

.status {
    width: 10%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
}

.status-passed {
    width: 10%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    color: rgb(6, 182, 6);
}

.status-failed {
    width: 10%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    color: rgb(255, 37, 37)
}
