.single-inspection-container {
    --morning-blue: rgb(183, 194, 193);
    --gunmetal: rgb(31, 36, 43);
    border: 2px solid rgb(25, 29, 34);
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgb(25, 29, 34);
    padding-left: 30px;
    padding-right: 30px
}

.single-inspection-header-container {
    display: flex;
    justify-content: center;
}

.info-label-container {
    /* border: 3px solid green; */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.label-container {
    /* border: 3px solid blue; */
    color: var(--morning-blue);
    font-size: larger;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.info-container {
    font-size: larger;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.info-container-passing {
    font-size: larger;
    color: rgb(255, 255, 255);
    font-weight: 500;
    color: rgb(6, 182, 6);
}

.info-container-failed {
    font-size: larger;
    color: rgb(255, 255, 255);
    font-weight: 500;
    color: rgb(255, 37, 37)
}

.inspection-answer-container {
    /* border: 3px solid red; */
    margin-bottom: 20px;
    border: 2px solid var(--light-gunmetal);
    padding: 10px;
    border-radius: 5px;
}

.question-container {
    /* border: 3px solid yellow; */
    font-size: large;
    display: flex;
    margin-bottom: 10px;
}

.question-label {
    font-size: large;
    margin-right: 5px;
}

.question {
    color: rgb(255, 255, 255);
}

.question-passing-container {
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-bottom: 5px;
}

.question-passing-label {
    margin-right: 10px;
}

.question-passing-passed {
    color: rgb(6, 182, 6);
}

.question-passing-failed {
    color: rgb(255, 37, 37);
}

.comment-container {
    margin-left: 80px;
}

.comment-label {
    margin-right: 5px;
}

.comment {
    color: rgb(255, 255, 255);
}
