.single-inspection-container {
    width: 100%;
    border-radius: 10px;
    background-color: var(--gray-web);
}

.single-inspection-header-container {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--morning-blue);
    font-size: xx-large;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--secondary);
}

.info-label-container-container {
    flex-wrap: wrap
}
.info-label-container {
    /* border: 3px solid green; */
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;

}

.label-container {
    /* border: 3px solid blue; */
    color: var(--morning-blue);
    font-size: large;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.info-container {
    font-size: large;
    font-weight: 500;
}

.info-container-passing {
    font-size: large;
    color: rgb(255, 255, 255);
    font-weight: 500;
    color: var(--success);
}

.info-container-failed {
    font-size: large;
    color: rgb(255, 255, 255);
    font-weight: 500;
    color: var(--failure)
}

.inspection-answer-container {
    /* border: 2px solid red; */
    border-bottom: 1px solid var(--light-gunmetal);
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}

.inspection-answer-failed-container {
    /* border: 2px solid red; */
    border-bottom: 1px solid var(--gunmetal);
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}

.inspection-answer-left-container {
    /* border: 2px solid green; */
    max-width: 69%;
}

.inspection-answer-right-container {
    /* border: 2px solid yellow; */
    /* width: 25%; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inspection-photo-container {
    /* border: 2px solid purple; */
    height: 150px;
    width: 140px;
    border-radius: 10px;
    overflow: hidden;
}

.question-container {
    /* border: 3px solid yellow; */
    font-size: large;
    display: flex;
    padding: 10px;
    max-width: 69%;
}

.question-label {
    font-size: large;
    margin-right: 5px;
}

.question {
    color: rgb(255, 255, 255);
}

.question-passing-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.question-passing-label {
    font-size: large;
}

.question-passing-passed {
    color: var(--success);
}

.question-passing-failed {
    color: var(--failure);
}

.comment-container {
    display: flex;
    font-size: large;
    padding: 10px;
}

.comment-label {
}

.comment {
    color: rgb(255, 255, 255);
}

.edit-inspection-button-container {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.edit-inspection-button-container>button {
    background-color: var(--tertiary);
    border-radius: 10px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--tertiary);
    box-sizing: border-box;
    padding:10px;
}

.edit-inspection-button-container>button:hover {
    cursor: pointer;
}

